<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>people indexation</title>
</head>
<body>
    <div th:each="person : ${people}" >
        <p th:text="${person.getName()} + ', ' + ${person.getAge()}">Name </p>
    </div>

    <script th:inline="javascript">
        // Получаем данные из модели и передаем их в JavaScript
        var personList = /*[[${people}]]*/ [];
        console.log(personList);
        personList.forEach(function (person) {
            var text = person.name + ', ' + person.age + '';
            // document.writeln(text);

            // var text = document.createTextNode(person.name + ' - ' + person.age + ' лет');

            // Создаем элемент <p> и добавляем в него текст
            var paragraph = document.createElement('p');
            paragraph.textContent = text;

            // Добавляем элемент <p> в контейнер
            document.append(paragraph);
            }
        );



    </script>


</body>
</html>