<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

  <div th:each="person : ${people}">
    <a th:href="@{/people/{id}(id = ${person.getId()})}" th:text="${person.getName()}">Name, year</a>
  </div>
  <br>
  <hr>
  <a href="/people/new">Create new person</a>

<!--<script>-->
<!--    function soutText() {-->
<!--        console.log(input.value)-->
<!--    }-->
<!--    var input = document.createElement('input');-->
<!--    input.type = 'text';-->
<!--    document.body.append(input);-->
<!--    // var button = document.createElement('input')-->
<!--    // input.type = 'button';-->
<!--    // document.body.append(button);-->
<!--    button.onenter = function fun() {-->
<!--        alert()-->
<!--    };-->
<!--</script>-->

</body>
</html>